@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
:root{
    --color-primario: #000;
    --color-secundario: #F6F6F6;
    --color-terciario: #22d4fd;
    --color-cuarto: goldenrod;
    --color-quinto: #007bff;

    --fuente-montserrat:"Montserrat", sans-serif;
    --fuente-krona: "Krona One", sans-serif;
}

*{
    padding: 0;
    margin: 0;
}

body {
    background-color: var(--color-primario);
    color: var(--color-secundario);
    box-sizing: border-box;
}
.header{
    padding:2% 0 0 15%;
}
.header-menu{
    display: flex;
    gap: 5rem;
}
.header-menu-link{
    font-size: 1.5rem;
    font-family: var(--fuente-krona);
    color: var(--color-terciario);
    margin: 0 1.125rem;
    padding: 1.125rem 0.9375rem;
    text-decoration: none;
}
.header-menu-link:hover{
    color: var(--color-quinto);
}

.presentacion{
    padding: 6% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap:82px;
}
.presentacion-contenido{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.presentacion-contenido-titulo{
    font-size: 2.25rem;
    font-family: var(--fuente-krona);
}
.titulo-destaque{
    color: var(--color-terciario);
}
.Imanol {
    color: var(--color-cuarto);
}
.presentacion-contenido-parrafo1{
    font-size: 1.25rem;
    font-family: var(--fuente-montserrat);
}
.presentacion-contenido-parrafo1 a{
    text-decoration: none;
    color:var(--color-terciario);
}
.presentacion-enlaces{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}
.presentacion-enlaces-subtitulo{
    font-family: var(--fuente-krona);
    font-size: 1.5rem;
    font-weight: 400;

}
.presentacion-enlaces-link{
    width: 50%;
    border:0.125rem solid var(--color-terciario);
    text-align: center;
    padding: 1.5625rem 0;
    font-size: 1.5rem;
    border-radius: 0.5rem;
    font-family: var(--fuente-montserrat);
    font-weight: 600;
    text-decoration: none;
    color: var(--color-secundario);
    display: flex;
    justify-content: center;
    gap: 0.625rem;
}
.presentacion-enlaces-link:hover{
    background-color: var(--color-primario);
    padding: 5%;
}
.Foto{
    width: 50%;
}
.Foto:hover{
    transform: scale(1.1);
}
.footer{
    background-color: var(--color-terciario);
    color: var(--color-primario);
    padding: 1.5rem;
    text-align: center;
    font-family: var(--fuente-montserrat);
    font-size:1.5rem;
    font-weight: 400;
}

@media(max-width: 1200px){
    .header{
        padding:10%;
    }
    .header-menu{
        justify-content: center;
    }
    .presentacion{
        flex-direction: column-reverse;
        padding: 5%;
    }
    .presentacion-contenido{
        width: auto;
    }
}
